backend/src/api/semantic/data/external/quran-simple-clean.txt
backend/src/api/semantic/data/external/stopwords_list.txt
backend/src/api/semantic/data/processed/ksucca_full_cbow.bin
backend/src/api/semantic/references/full_grams_cbow_100_twitter.mdl
backend/src/api/semantic/references/full_grams_cbow_100_twitter.mdl.trainables.syn1neg.npy
backend/src/api/semantic/references/full_grams_cbow_100_twitter.mdl.wv.vectors.npy
backend/src/api/semantic/references/full_grams_cbow_300_twitter.mdl
backend/src/api/semantic/references/full_grams_cbow_300_twitter.mdl.trainables.syn1neg.npy
backend/src/api/semantic/references/full_grams_cbow_300_twitter.mdl.wv.vectors.npy
backend/src/api/semantic/references/full_grams_cbow_100_wiki.mdl
backend/src/api/semantic/references/full_grams_cbow_100_wiki.mdl.trainables.syn1neg.npy
backend/src/api/semantic/references/full_grams_cbow_100_wiki.mdl.wv.vectors.npy
backend/src/api/semantic/references/full_grams_cbow_300_wiki.mdl
backend/src/api/semantic/references/full_grams_cbow_300_wiki.mdl.trainables.syn1neg.npy
backend/src/api/semantic/references/full_grams_cbow_300_wiki.mdl.wv.vectors.npy
backend/src/api/semantic/references/model.pkl
backend/src/api/semantic/references/model.pkl.vectors.npy
backend/src/api/semantic/data/external/quran_english_translations.txt
backend/src/api/semantic/data/external/quran-simple-min.txt
backend/src/api/semantic/data/external/quran-simple.txt
backend/src/api/semantic/data/external/quran.txt
__pycache__/