<div class="navbarr"><nav class="navbar navbar-light bg-light" >
  <%= link_to 'الرئيسية', root_path, class: 'nav-main'  %>
  <a href=<%= root_path %>>
    <%= image_tag 'quran.png',  class: 'nav-link' %>
  </a>
</nav>


</div>