body :lang(ar) {
    direction: rtl;
    text-align: right; 
    font-family: Noto Nastaliq Arabic,NotoNastaliq,ProximaVara,Helvetica Neue,Helvetica,Arial;
}

div { 
    display: inline-block;
    direction: rtl;
    text-align: right;
    margin-top: 35px;   
}

li { 
    font-size: small;
}




