body {
  font-family: ProximaVara,Helvetica Neue,Helvetica,Arial;
  color: #000000;
}

:root {
  --primary: #35b2b9;
  --light: #000000;
  --dark: #ffffff;
}

* {
  /* font-family: 'Fira Sans', sans-serif; */
  box-sizing: border-box;
  padding: o;
  margin: o;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: var(--dark);
  padding: 12px 30px;
}


nav p {
  font-size: 25px;
  font-weight: 600;
  cursor: default;
  color: #322b2b;
}

.menu {
  display: none;
  flex: 1 1 0%;
  justify-content: flex-end;
  margin: 0 -16px;
}

.menu a {
  color: rgb(0, 0, 0);
  margin: 0 16px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.4s;
  padding: 8px 16px;
  border-radius: 99px;
}

h1 {
  font-size: 50pt;
  margin: 5px;
  color: white;
}

.searchbar {
  border-color: #232222;
  border-style:solid;
  border-width: 1px;
  border-radius: 20px;
  display: block;
  margin: 10px;
  padding: 10px;
  width: 500px;
}

.searchbutton {
  background-color: #ffffff;
  border-color: #2f3233;
  border-style:var(--dark);
  margin: 5px 10px;
  font-weight: 600;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 99px;
}

.vertical-center {
  padding-top: 50px;
  height: 400px;
  margin-top: 50px;
  background: url('https://quran.com/images/background.jpg');
}
.menu a.is-active, .menu a:hover{
  background-color: var(--primary);
}
.searchbutton:hover{
  background-color : #676767;;
}

@media (min-width: 768px) {
  .menu{
    display: flex;
  }
  .container{
      display: flex;
  }
}

